<h2>Upcoming Meetings</h2>

<p>The chapter board strives to provide the most up to date
information on upcoming events and meetings, however it appears that
all the meetings have passed and future meetings are not published
yet. We are working to correct this so please check back here
shortly.</p>

<p>Typically, the chapter meetings will fall on the Third Tuesday
evening of the month between 6:00 PM - 8:30 PM and dinner is usually
provided.</p>

  {{ $meetings := where site.RegularPages "Type" "meetings" }}
  {{ range $meetings }}
    <section>
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
      {{ .Summary }}
    </section>
  {{ end }}
